body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0CA3C;
}

.keyword {
    border: 1px solid blue;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    position: relative;
    top: 10px;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

 .page-link{
    background-color: #E0CA3C;
    color: #000;
    border: 3px solid #136F63;
}

.page-item.active .page-link {
    background-color: #FFF6B3;
    color: #000;
    border: 3px solid #136F63;
    
}